# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore the entire scratch directory and its contents
scratch/

# ignore zarr files and their contents
*.zarr/
*.zarr

# ignore .nc files
*.nc